body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background: white;
}

th, td {
  border: 1px solid #333;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

tr:last-child:hover {
  font-weight:bold; 
}

/* Pseudo-class */
tr:hover {
  background-color: #ddd;
}
/* Alternate Row Color */
tr:nth-child(even) {
  background-color: #f2f2f2;
}
