body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding:20px;
}
.step {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
} 
.step img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px auto;
  border: 1px solid #ccc;
}
iframe {
  display: block;
  margin: 20px auto;
}  
